/* Background */
.background {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/kangaroo-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

/* Button */
.animal-theme-btn {
    position: relative;
    z-index: 3;
    color: black !important;
    background-color: white !important;
    border-style: none !important;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.25);
}

.animal-theme-btn div {
    font-family: 'Lilita One', cursive;
}

.animal-theme-btn:disabled {
    background-color: rgb(0, 0, 0, 0.3) !important;
}