/* the vector of the narrator */
.humanguide {
    position: absolute;
    z-index: 0;
    top: 100;
    left: 300;
    width: 100%;
    height: 90%;
    background-image: url('../img/human-guide.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.85;
}


/* greeting text */
p {
    position: fixed;
    left: 32%;
    top: 17%;
    font-size: 40px;
    height: 50%;  
}

.maincontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* "Let's go" button */
#nextbutton {
    background: url(../img/button_bg.png);
    cursor:pointer;
    border: none;
    float:right;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 12px;
    padding-right: 145px;
    margin-right: 10px;
    position: fixed;
    bottom: 47%;
    right: 38%;
    
  }

/* background photo */
body {
    background-image: url('../img/mountain6.png');
    background-size: cover;
    background-repeat: no-repeat;
}


