/*
    Backgound
*/
.background {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/kangaroo-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

/*
    Wooden tablet Header
*/
.wooden-tablet-header {
    color: white;
    font-size: x-large;
    height: fit-content;
    font-family: 'Lilita One', cursive;
    position: relative;
    z-index: 4;
    top: 10px;
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    text-decoration: none !important;
}

.nav-links {
    padding: 20px 0;
}

/*
    closet: color palette
*/
.closet-color {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    border-style: none;
}

.closet-color:focus, .closet-color:active {
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

.closet-accessory {
    height: 50px;
    width: 50px;
    border-style: none;
}

.closet-accessory:focus, .closet-accessory:active {
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

/* Dialog */
.wooden-tablet-dialog  {
    position: absolute;
    z-index: 4;
    bottom: 10px;
    right: 0;
    left: 0;
    height: 180px;
    background-image: url('../img/wooden-dialog.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Lilita One', cursive;
}

.guide {
    background-image: url('../img/human-guide.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;
}

.next {
    background-image: url("https://img.icons8.com/matisse/0/E6C594/next.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: 90%;
}

.next {
    border-style: none !important;
}

/* outfit */
.outfit {
    position: relative;
    z-index: 10;
}