/* Background */
.background {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* 
        Image by macrovector on Freepik
        https://www.freepik.com/free-vector/cartoon-plain-landscape-with-cute-happy-little-kangaroo-holding-green-twig-vector-illustration_35861671.htm#query=wildlife%20background%20aussie&position=23&from_view=search&track=ais
    */
    background-image: url('../img/kangaroo-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    opacity: 0.4;
}

.quiz {
    position: relative;
    z-index: 10;
    font-family: 'Lilita One', cursive;
    margin-top: 0;
}

/* Black Mask */
.black-mask {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
}